#header {
    border-style: none;
    width: 900px;
    height: auto;
}
#wrapper {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 900px;
}
body {
    background-color: #368F8B;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}

#stockImage {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 128px;
    height: 128px;
    position: relative;
}

img {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
h3 {
    font-size: 35px;
    margin-top: 0px;
}

h4 {
    font-size: 20px; 
}

#mainTitle {
    font-size: 40px;
    text-align: center;
    color: #368F8B;
    margin-bottom: 5px;
}

#searchForm {
    text-align: center;
    color: #368F8B;
}

#stockHeader {
    margin-bottom: 160px;
}

#stockPrice {
    float: left;
    margin-left: 10px;
    margin-top: 40px;
}

#stockData {
    border-width: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dataHeader {
    padding-left: 22px;
}

#dataPoint {
    padding-right: 22px;
    text-align: right;
}

#description {
    border-width: 2px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
