{% extends 'base.html' %}
{% block title %}{{ data.longName }}{% endblock title %}


{% block content %}

<div id="stockHeader">
    <div id="stockImage">
        <a href={{ data.website }}><img src="{{ data.logo_url }}"></a>   
    </div>
    
    <div id="stockPrice">
        <h2><a href={{ data.website }}>{{ data.longName }}</a></h2> 
        <h3>
            ${{ data.price }}
            {% if data.dollarChange >= 0 %}
                <span style="color: green;">{{ data.dollarChange }} ({{ data.percentChange }}%)</span>
            {% else %}
                <span style="color: red;">{{ data.dollarChange }} ({{ data.percentChange }}%)</span>
            {% endif %}
        </h3>
    </div>
</div>

<div id="graph" style="margin-bottom: 0px">
{{ graph_div|safe }}
</div>

<div id="stockData">
    <table>
        
        <tr>
            <td id="dataHeader">Open:</td>
            <td id="dataPoint"><strong>${{ data.open }}</strong></td>
            <td id="dataHeader">Volume:</td>
            <td id="dataPoint"><strong>{{ data.volume }}</strong></td>
            <td id="dataHeader">Market Cap:</td>
            <td id="dataPoint"><strong>${{ data.marketCap }}</strong></td>
        </tr>
        <tr>
            <td id="dataHeader">Previous Close:</td>
            <td id="dataPoint"><strong>${{ data.previousClose }}</strong></td>
            <td id="dataHeader">Average Volume:</td>
            <td id="dataPoint"><strong>{{ data.averageVolume }}</strong></td>
            <td id="dataHeader">EPS (TTM):</td>
            <td id="dataPoint"><strong>{{ data.trailingEps }}</strong></td>
        </tr>
        <tr>
            <td id="dataHeader">Days Range:</td>
            <td id="dataPoint"><strong>${{ data.dayLow }} - ${{ data.dayHigh }}</strong></td>
            <td id="dataHeader">200 Day Average:</td>
            <td id="dataPoint"><strong>${{ data.twoHundredDayAverage }}</strong></td>
            <td id="dataHeader">PE (TTM):</td>
            <td id="dataPoint"><strong>{{ data.trailingPE }}</strong></td>
        </tr>
        <tr>
            <td id="dataHeader">52 Week Range:</td>
            <td id="dataPoint"><strong>${{ data.fiftyTwoWeekLow }} - ${{ data.fiftyTwoWeekHigh }}</strong></td>
            <td id="dataHeader">Dividend:</td>
            <td id="dataPoint"><strong>$ {{ data.dividendRate }}</strong></td>
            <td id="dataHeader">PEG Ratio:</td>
            <td id="dataPoint"><strong>{{ data.pegRatio }}</strong></td>
        </tr>
    </table>
</div>


<div id="description">
    <h4>Description</h4>
    <p>{{ data.longBusinessSummary }}</p>
</div>

{% endblock content %}