<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {{ page_title|default:"Untitled Page" }}
            {% endblock title %}
        </title>
        <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="wrapper">
            <div id="header"></div>
            <h1 id="mainTitle">Stock App</h1>

            <form method="post" id="searchForm">
                {% csrf_token %}

                <input type="text" name="stockTicker"><br>
                <input type="submit" value="Search">
            </form>

            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>